

.header-container{
        background-color: #0d6efd;
        color: white;
        padding: 0.5em; 
        margin-bottom: 10px;
        text-align: center;
}

.subtext{
    color: rgb(115, 115, 116);
}

.nav.nav-link{
    color: white;
    font-weight: lighter;
    text-decoration: none;
    float: right;
}

.nav.nav-link:focus, .nav.nav-link:hover{
    
    font-weight: bold;
   color: white;
}